@import "./utilities/mixins";
@import "./layout/navbar";
@import "./layout/footer";
@import './sections/index';
@import './sections/productos';
@import './sections/ubicacion';
@import "./sections/contacto";
@import "./utilities/reset-variables";
@import "./utilities/mediaquery";

body {
  background-color: black;
  overflow-x: hidden;
}


#header .header__Menu ul {
  display: flex;
  flex-direction: inline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  list-style: none;
  gap: 25px;
  color: white;
  a {
	text-decoration: none;
	color: white;
  }
}


/* productos primer fila */

h1 {
  color: white;
  line-height: 1, 5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  letter-spacing: 10px;
  text-align: center;
  padding-bottom: 30px;
}


p {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

// Clase reutilizable para hacer paddingBottom
.paddingBottom {
  padding-bottom: 20px;
  text-align: center;
}

// Animación texto stock
.animacionStock {
  transition: letter-spacing 0.1s ease;
  &:hover {
	letter-spacing: 1px;
  }
}

// Clase reutilizable para anchors
.anchors {
  color: white;
  font-weight: 700;
}


header {
  background-color: var(--colorCorporativo);
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: inline;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#header {
  .header__Menu {
    ul {
      display: flex;
      flex-direction: inline;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      list-style: none;
      gap: 25px;
      color: white;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flex-container {
  @include anchoAlto(80vw, 280px);
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  .flex-item {
    .displayNone {
      background-color: var(--colorCorporativo);
      @include anchoAlto(222px, 250px);
      margin-bottom: 10px;
    }
  }
}

// Primer linea de recuadros productos
.recuadrosProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
// Segunda linea de recuadros productos
.recuadrosProductos2 {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100vw;
}