/* contacto */

.seccionContacto {
  color: white;
  display: flex;
  flex-direction: inline;
}

.contactoSicko {
  background-image: url(../assets/naruto-panel.png);
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-flow: column;
  background-color: rgb(19, 19, 19);
  width: 30%;
  height: 60%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.campoFormulario {
  width: 250px;
  height: 30px;
  &::placeholder {
    text-align: center;
  }
}

.seccionContacto {
  color: white;
  display: flex;
  flex-direction: inline;
}
