/* =================================Media queries================================= */

/* ---------------- 1024px ---------------- */

@media screen and (max-width: 1024px) {
  .logotipoHeader {
    width: 650px;
  }

  .menuHeader {
    font-size: 10px;
    li {
      font-size: 10px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
  }
  .imagenFondo {
    @include anchoAlto(400px, auto);
  }

  .intro_titulo {
    font-size: 27px;
  }

  .imagenesCatalogo {
    image-orientation: left;
    width: 220px;
    float: left;
  }

  .imagenesCatalogo2 {
    image-orientation: left;
    width: 220px;
  }

  .flex-container {
    height: 225px;
  }

  .displayNone {
    display: none;
    justify-content: center;
  }

  .textoCatalogo {
    font-size: 15px;
  }

  .textoCatalogo2 {
    font-size: 15px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 0.3fr);
    gap: 10px;
  }

  .grid-item img {
    height: 150px;
  }

  .mapaUbicacion {
    width: 90vw;
  }

  .form {
    width: 70vw;
  }

  .textarea {
    width: 60vw;
  }

  .footer {
    height: auto;
  }
}

/* ---------------- 1024px ---------------- */

@media screen and (max-width: 1024px) {
  .logotipoHeader {
    width: 150px;
  }

  .menuHeader {
    font-size: 8px;
    li {
      font-size: 10px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
  }
  .imagenFondo {
    @include anchoAlto(300px, auto)
  }

  .intro_titulo {
    font-size: 27px;
  }

  .imagenesCatalogo {
    image-orientation: left;
    width: 220px;
    float: left;
  }

  .imagenesCatalogo2 {
    image-orientation: left;
    width: 220px;
  }

  .flex-container {
    height: 225px;
  }

  .displayNone {
    display: none;
    justify-content: center;
  }

  .textoCatalogo {
    font-size: 15px;
  }

  .textoCatalogo2 {
    font-size: 15px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 0.3fr);
    gap: 10px;
  }

  .grid-item img {
    height: 150px;
  }

  .mapaUbicacion {
    width: 90vw;
  }

  .form {
    width: 70vw;
  }

  .textarea {
    width: 60vw;
  }

  .footer {
    height: auto;
  }
}

/* ---------------- 768px ---------------- */

@media screen and (max-width: 768px) {
  .logotipoHeader {
    width: 200px;
  }

  .menuHeader {
    font-size: 8px;
    li {
      font-size: 10px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
  }
  .imagenFondo {
    @include anchoAlto(374px, auto);
  }

  .intro_titulo {
    font-size: 12px;
  }

  .imagenesCatalogo {
    image-orientation: left;
    width: 170px;
  }

  .imagenesCatalogo2 {
    image-orientation: left;
    width: 170px;
  }

  .flex-container {
    height: 225px;
  }

  .displayNone {
    display: none;
    justify-content: center;
  }

  .textoCatalogo {
    font-size: 15px;
  }

  .textoCatalogo2 {
    font-size: 15px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 0.3fr);
    gap: 10px;
  }

  .grid-item img {
    height: 150px;
  }

  .mapaUbicacion {
    width: 90vw;
  }

  .form {
    width: 70vw;
  }

  .textarea {
    width: 60vw;
  }

  .footer {
    height: auto;
  }
}

/*----------------425px---------------- */

@media screen and (max-width: 425px) {
  .logotipoHeader {
    width: 160px;
  }

  .menuHeader {
    font-size: 8px;
    li {
      font-size: 10px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
  }
  .imagenFondo {
    @include anchoAlto(150px, auto);
  }

  .intro_titulo {
    font-size: 20px;
  }

  .imagenesCatalogo {
    image-orientation: left;
    width: 170px;
  }

  .imagenesCatalogo2 {
    image-orientation: center;
    width: 200px;
  }

  .flex-container {
    height: 100px;
  }

  .displayNone {
    display: none;
    justify-content: center;
  }

  .textoCatalogo {
    font-size: 15px;
  }

  .textoCatalogo2 {
    font-size: 15px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 0.3fr);
    gap: 10px;
  }

  .grid-item img {
    height: 150px;
  }

  .mapaUbicacion {
    width: 90vw;
  }

  .form {
    width: 70vw;
  }

  .textarea {
    width: 60vw;
  }

  .footer {
    @include anchoAlto(100%, auto);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
/* ---------------- 375px ---------------- */
@media screen and (max-width: 375px) {
  .logotipoHeader {
    width: 200px;
  }

  .menuHeader {
    font-size: 8px;
    li {
      font-size: 10px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
  }
  .imagenFondo {
    @include anchoAlto(374px, auto);
  }

  .intro_titulo {
    font-size: 12px;
  }

  .imagenesCatalogo {
    image-orientation: left;
    width: 170px;
  }

  .imagenesCatalogo2 {
    image-orientation: left;
    width: 170px;
  }

  .flex-container {
    height: 225px;
  }

  .displayNone {
    display: none;
    justify-content: center;
  }

  .textoCatalogo {
    font-size: 15px;
  }

  .textoCatalogo2 {
    font-size: 15px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 0.3fr);
    gap: 10px;
  }

  .grid-item img {
    height: 150px;
  }

  .mapaUbicacion {
    width: 90vw;
  }

  .form {
    width: 70vw;
  }

  .textarea {
    width: 60vw;
  }

  .footer {
    height: auto;
  }
}

.imagenFondo {
  @include anchoAlto(300px, auto);
}
