.logotipoHeader {
  width: 250px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: grey;
  transition: all 0.3s;
}

.dropdown-menu {
  background-color: rgb(15, 15, 15);
}

.dropdown-item {
  color: white;
}

.paginaSeleccionada {
  color: rgb(194, 194, 194);
}
