.logotipoHeader {
  width: 250px;
}

.nav-link {
  color: white;
  &:hover {
    color: grey;
    transition: all 0.3s;
  }
}

.dropdown-menu {
  background-color: rgb(15, 15, 15);
}

.dropdown-item {
  color: white;
}
